<!DOCTYPE html>
<html lang="pt_PT" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<h1>el homem da tese</h1>
		<nav class="flex flex-col gap-6">
			<a th:href="@{/statistics}" class="underline p-2 hover:bg-cyan-700">Estatisticas alunos</a>
			<a th:href="@{/consultant/submit}" class="underline p-2 hover:bg-cyan-700">Submeter topico de tese</a>
			<a th:href="@{/consultant/thesis_defense}" class="underline p-2 hover:bg-cyan-700">Marcar defesa de proposta de tese</a>
			<a th:href="@{/consultant/thesis_defense/grading}" class="underline p-2 hover:bg-cyan-700">Anotar defesas</a>
		</nav>
	</div>
</body>

</html>
