<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>ThesisMan</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div class="max-w-[1200px] mx-auto text-center">
		<div th:replace="fragments/header :: header"></div>
		<div class="flex gap-6">
			<nav class="flex flex-col items-start gap-3 max-w-[300px]" sec:authorize="isAuthenticated()">
				<a th:href="@{/statistics}"
					class="text-white p-2 hover:bg-cyan-800 bg-cyan-700 rounded-lg active:bg-cyan-900">Estatisticas
					alunos</a>
				<a th:href="@{/consultant/submit}"
					class="text-white p-2 hover:bg-cyan-800 bg-cyan-700 rounded-lg active:bg-cyan-900">Submeter topico
					de tese</a>
				<a th:href="@{/consultant/thesis_defense}"
					class="text-white p-2 hover:bg-cyan-800 bg-cyan-700 rounded-lg active:bg-cyan-900">Marcar defesa de
					proposta
					de
					tese</a>
				<a th:href="@{/consultant/thesis_defense/grading}"
					class="text-white p-2 hover:bg-cyan-800 bg-cyan-700 rounded-lg active:bg-cyan-900">Anotar
					defesas</a>
				<a th:if="${isAdmin}" th:href="@{/topics}"
					class="text-white p-2 hover:bg-cyan-800 bg-cyan-700 rounded-lg active:bg-cyan-900">Alunos sem
					teses</a>
			</nav>
			<div layout:fragment="content" class="flex-1"></div>
		</div>
	</div>
</body>

</html>
