<!DOCTYPE html>
<html lang="pt_PT" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<div>
			<ul>
				<li th:each="defense : ${defenses}">
					<span th:text="'Defesa ' + ${defense.id} + ': ' + ${defense.grade}"></span>
				</li>
			</ul>
		</div>

		<div>
			<span>Positivas: </span>
			<span th:text="${positives / total_defenses * 100 + '%'}"></span>
		</div>

		<div>
			<span>Média: </span>
			<span th:text="${average}"></span>
		</div>
	</div>
</body>

</html>
