<!DOCTYPE html>
<html lang="pt_PT" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<section>
			<h2>Submeter topico de tese:</h2>

			<div class="error" th:text="${error}"></div>

			<form action="#" th:action="@{/submit-thesis-topic}" th:object="${dissertation_topic}" method="post">
				<label for="title">Title:</label><input name="title" th:field="*{title}" /><br />
				<label for="description">Description:</label><input name="description"
					th:field="*{description}" /><br />
				<label for="salary">Salary:</label><input name="salary" th:field="*{salary}" /><br />
				<p>Masters:</p>
				<div th:each="master : ${masters}">
					<input type="checkbox" name="master_ids" th:value="${master.id}" th:text="${master.name}" />
				</div>
				<input type="submit" value="submit" />
			</form>
		</section>
	</div>
</body>

</html>
