<!-- <!DOCTYPE html>
<html lang="pt_PT" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<meta charset="ISO-8859-1" />
	<title>Spring Boot Application</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div layout:fragment="content">
		<section>
			<h2>Registo da nota da defesa:</h2>

			<div class="error" th:text="${error}"></div>

			<ul>
				<li th:each="defense : ${defenses}">
					<a th:href="@{/consultant/thesis_defense/grading/{id}(id=${defense.id})}">
						<span>Student: </span>
						<span th:text="${defense.thesisExecution.student.name}"></span>
						<span>Localização: </span>
						<span th:text="${defense.location}"></span>
					</a>
				</li>
			</ul>
		</section>
	</div>
</body>

</html>

 -->


<!DOCTYPE html>
<html lang="pt_PT" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<meta charset="ISO-8859-1" />
	<title>Spring Boot Application</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div layout:fragment="content">
		<section>
			<h2>Registo da nota da defesa:</h2>

			<div class="error" th:text="${error}"></div>

			<ul>
				<li th:each="defense : ${defenses}">
					<a th:href="@{/thesis-i-advise/grade/{id}(id=${defense.id})}">
						<span>Student: </span>
						<span th:text="${defense.thesisExecution.student.name}"></span>
						<span>Localização: </span>
						<span th:text="${defense.location}"></span>
					</a>
				</li>
			</ul>
		</section>
	</div>
</body>

</html>

