<!DOCTYPE html>
<html lang="pt_PT" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<div layout:fragment="content" class="mx-auto inline-block">
		<section class="flex flex-col gap-6">
			<h1 class="text-6xl my-6">Log in</h1>

			<div th:if="${param.error}" class="text-red-500">
				Invalid username and password.
			</div>
			<div th:if="${param.logout}" class="text-red-500">
				You have been logged out.
			</div>

			<form th:action="@{/user/login}" method="post" th:object="${appuser}" class="contents">
				<div class="flex gap-6">
					<label for="username">username:</label>
					<input type="text" name="username" th:field="*{username}" class="p-2 border rounded-md" />
				</div>
				<div class="flex gap-6">
					<label for="password">Password:</label>
					<input type="password" name="password" th:field="*{password}" class="p-2 border rounded-md" />
				</div>
				<input type="submit" value="Log in"
					class="rounded-lg bg-cyan-700 hover:bg-cyan-800 active:bg-cyan-900 text-white p-2" />
			</form>

		</section>
	</div>
</body>

</html>
