<!DOCTYPE html>

<head>
	<meta charset="ISO-8859-1" />
	<title>Spring Boot Application</title>
</head>

<html>

<body>
	<header th:fragment="header" class="flex justify-between items-center gap-6 py-4">
		<p class="text-lg mr-auto"><a th:href="@{/}">ThesisMan</a></p>
		<div sec:authorize="isAnonymous()" class="contents">
			<a th:href="@{/user/login}" class="underline hover:bg-gray-200 p-2 rounded-lg">Log in</a>
			<a th:href="@{/consultant/register}" class="underline hover:bg-gray-200 p-2 rounded-lg">Create consultant account</a>
		</div>
		<div sec:authorize="isAuthenticated()" class="contents">
			<p th:inline="text">Hello <span th:remove="tag" sec:authentication="name">username</span>!</p>
			<form th:action="@{/logout}" method="post" class="contents">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
	</header>
</body>

</html>
