<!DOCTYPE html>
<html lang="pt_PT">

<head>
	<meta charset="UTF-8" />
	<link href="css/style.css" rel="stylesheet"/>
	<title>Spring Boot Application</title>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h2>Log in:</h2>

		<div th:if="${param.error}" class="message">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}" class="message">
			You have been logged out.
		</div>

		<form th:action="@{/user/login}" method="post" th:object="${appuser}">
			<label for="username">username:</label><input type="text" name="username" th:field="*{username}" /><br />
			<label for="password">Password:</label><input type="password" name="password" th:field="*{password}" /><br />
			<input type="submit" value="Log in" />
		</form>
		
	</section>
</body>

</html>
