<!DOCTYPE html>
<!-- <html th:replace="~{layout :: layout(~{::section})}"> -->

<body>
	<section>
		<h2>Log in:</h2>

		<div class="error" th:text="${error}"></div>

		<form action="#" th:action="@{/consultant/login}" th:object="${appuser}" method="post">
			<label for="username">username:</label><input name="username" th:field="*{username}" /><br />
			<label for="password">Password:</label><input name="password" th:field="*{password}" /><br />
			<input type="submit" value="Log in" />
		</form>
	</section>
</body>

</html>
