<!DOCTYPE html>
<!-- <html th:replace="~{layout :: layout(~{::section})}"> -->
<html>

<body>
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h2>Log in:</h2>

		<div th:if="${param.error}">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>

		<form th:action="@{/user/login}" method="post" th:object="${appuser}">
			<label for="username">username:</label><input name="username" th:field="*{username}" /><br />
			<label for="password">Password:</label><input name="password" th:field="*{password}" /><br />
			<input type="submit" value="Log in" />
		</form>

		<!-- <form th:action="@{/perform_login}" method="post">
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" required />
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" required />
			</div>
			<div>
				<button type="submit">Log in</button>
			</div>
		</form> -->
	</section>
</body>

</html>
